@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
@import './custom.css';

 /* styles/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: aliceblue;
  padding: 1rem;
}

nav a {
  color: grey;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background: #333;
  color: grey;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 600px) {
  nav a {
    display: block;
    margin-bottom: 0.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
